.logo {
  display: block;
  padding: 24px 0 25px 0;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
}
.studio {
  color: var(--primery-black-color);
}

.logo-footer {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.logo-footer {
  @include desktop {
    display: inline-block;
    margin-bottom: 20px;
  }

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
}

.logo-footer .studio {
  color: var(--primery-white-color);
}
