.page-header {
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: var(--primery-white-color);
}

.box {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.main__nav {
  display: flex;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  &.current {
    color: var(--accent-text-color);
  }
}

.site-nav {
  display: flex;
  margin-left: 93px;
  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__item {
  display: none;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    margin-right: 30px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &.link:focus {
      color: var(--accent-text-color);
    }
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-list__item {
  display: none;
}

.mail-soc-icon {
  fill: currentColor;
  margin-right: 10px;
  .contacts-list &:hover,
  .contacts-list &:focus {
    color: var(--accent-text-color);
  }
}

.tel-soc-icon {
  fill: currentColor;
  margin-right: 10px;
}
