.team-soc-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.soc-icon {
  color: #afb1b8;
}

.team-soc-item {
  height: 44px;
  width: 44px;
}

.team-soc-link {
  display: flex;
  fill: currentColor;
  text-decoration: none;
  background-color: var(--primery-white-color);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    fill: var(--primery-white-color);
  }
}

.footer-soc-list {
  display: flex;
  gap: 10px;
  @include mobile {
    margin-top: 0;
  }

  @include tablet {
    margin-top: 0;
  }
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  display: flex;
  fill: currentColor;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.footer-soc-icon {
  color: var(--primery-white-color);
}

.soc-icon:hover,
.soc-icon:focus {
  color: var(--primery-white-color);
}
