body {
  background-color: var(--primery-white-color);
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}
